body{
    font-size: 20px;
    background-color: blanchedalmond;
}
.m-start{
    margin-left: 40%;
}
#edit-form label{
    font-size: 30px;
}
#edit-form input{
    background-color: lime;
    font-size: 28px;
    border: 1px groove green;
    margin-top: 20px;
    display: block;
    border-radius: 15px;
    color: white;
}

#edit-form button{
    font-size: 20px;
    margin-left: 100px;
    border-radius: 10px;
    margin-top: 50px;
    border: 1px groove red;
    color: cyan;
}